#container{
	width: 100vw;
	height: 100vh;
	
}

.myhand {
	display: flex;
	flex-direction: row;
	grid-area: hand;
	overflow-x: scroll;
}

.board {
	display: grid;
	grid-template-rows: 50% 25% 25%;
	grid-template-columns: 50% 50%;
	width: 100%;
	height: 100%;
	grid-template-areas: 
		'landscape charinfo'
		'landscape battlefield'
		'hand controls';
}

.landscape {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-area: landscape;
}

.battlefield {
	display: flex;
	flex-direction: row;
	grid-area: battlefield;
}

.gamestate {
	display: flex;
	flex-direction: column;
	grid-area: charinfo;
}

.card {
	font-size: 0.8em;
}

.card:hover {
	/*opacity:  0.5;*/
}