.battlefield {
  display: grid;
  grid-template-rows: 50% 50%;
  font-size: 0.6em;
  height: 100%;
  width: 100%;
}

.battlefield .party {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

.battlefield .party .party-position {
  display: flex;
  flex-direction: row;
}
.battlefield .party .party-position.is-selected {
  background-color: yellow;
}

.battlefield .party .party-position .empty-slot {
  height: 100%;
  width: 100%;
}

.battlefield .party .party-position .being {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  aspect-ratio: 1.6;
}
