.card {
  background-color: white;
  display: block;
  margin: 2px;
  padding: 8px;
  border: 1px solid #555;
  aspect-ratio: 1 / 1.6;
  z-index: 5;
  background: white;
  z-index: 100;
}

.card.horizontal {
  /* horizontal card */
  aspect-ratio: 1.6;
  padding: 1px;
}

.card.is-selected {
  background-color: yellow;
}

.card > * {
  /* Stops the card contents from doing anything */
  pointer-events: none;
}

.card .card-name {
  font-weight: bold;
  text-align: center;
}

.card .card-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .stats {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "str arm"
    "agi will";
}

.card-tooltip {
  position: absolute;
  z-index: 1;
  height: 160px;
  background-color: darkgray;
  border: 1px solid #555;
  font-size: 0.6em;
  display: flex;
  padding: 2px;
}

.stat-buffed {
  color: green;
}

.stat-debuffed {
  color: red;
}
