.gamestate {
  display: grid;
  grid-template-columns: 45% 10% 44%;
  font-size: 0.85em;
}

.gamestate-bar {
  display: flex;
  flex-direction: row;
}

.gamestate > div > div {
  display: inline-block;
  margin: 5px;
}

.gamestate > div > div > div.resourceCount {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  border: 1px solid rgb(85, 85, 85);
  min-width: 20px;
}

.your-turn {
  text-align: center;
  margin-left: 5px;
  background-color: darkblue;
  color: white;
}

.opponent-turn {
  text-align: center;
  margin-left: 5px;
  background-color: darkred;
  color: white;
}
