.landscape {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, 16.6%);
  grid-template-columns: repeat(5, 20%);
  font-size: 0.6em;
}

.land-area {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #555;
}

.land-area.can-place-card:not(.highlighted) {
  background-color: #80d3e1;
}

.land-area.ally:not(.highlighted) {
  background-color: #00a6fb;
}

.land-area.enemy:not(.highlighted) {
  background-color: #de3c4b;
}

.land-area.highlighted {
  background-color: yellow;
}

.land-area.party-location > .card {
  border-color: #0a1128;
  border-width: 4px;
  margin: 1px;
}
