.gamestate > div {
  display: inline-block;
  margin: 5px;
}

.gamestate > div > div.resouceCount {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  border: 1px solid rgb(85, 85, 85);
  min-width: 20px;
}

.gamestate > div.your-turn {
  text-align: center;
  margin-left: 5px;
  background-color: green;
}

.gamestate > div.opponent-turn {
  text-align: center;
  margin-left: 5px;
  background-color: red;
}
