.myhand {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.myhand .card-slots {
  display: flex;
  flex-direction: row;
  font-size: 0.6em;
  aspect-ratio: 5;
}

.myhand .card-slots > .card-slot.is-selected {
  background-color: yellow;
}
